* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(/assets/img/Oualie-Beach-Resort-Nevis-Oualie-Beach-61.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  padding: 20px;
  color: aliceblue;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
